<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gefDrop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A1EC0CA1BE3245800FD8F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1EC0DE1BE3245800FD8F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1EC0E91BE3245800FD8F48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
